@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Brygada 1918", serif;
}

@font-face {
  font-family: "Bloxat.ttf";
  src: url("./fonts/Bloxat.ttf");
}
