.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 200px;
  padding: 0 240px;
  height: 300px;
  img {
    width: 200px;
  }
  b {
    font-size: 30px;
  }
  p {
    text-align: center;
    font-size: 20px;
  }
}
